<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>LocalHunt</title>
  <script>var accessToken = '<%= session[:access_token] %>'; </script>
</head>
<body>


    <h1 id="title"> LocalHunt </h1>
    <%= yield %>



  <script src="/js/new_application.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
</body>
</html>
