<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Nova+Oval' rel='stylesheet' type='text/css'>
  <title>LocalHUNT</title>
</head>
<body>
  <header> Micro Landmarks
  </header>
  <div class="container">
    <div class="logo">
    <img src='/img/submarine_logo1.png'>
      <h1> LocalHUNT </h1>
    </div>
  </div>
    <%= yield %>
  <div class="container">
    <footer>
    <form>
      <p> Drop A Marker At Your Current Location </p>
      <input type="text" placeholder="Describe the spot!">
      <button type="button" class="drop-pin">DROP PIN</button>
      <p>( You can drag and relocate after if you want )</p>
    </form>
    <button type="button" class="mark-something">Mark Something!</button>
    </footer>
  </div>
  <script src="/js/controller.js"></script>
  <script src="/js/marker_model.js"></script>
  <script src="/js/map_model.js"></script>

  <script src="/js/new_application.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
</body>
</html>
